@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-3rem, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -2rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[data-anima="scroll"] {
  opacity: 0;
}

[data-anima="scroll"].ativo {
  animation: show-right .3s forwards;
}