.header {
  grid-column: 3/5;
  background: #FFBB55;
  margin-top: 2rem;
}

.menu-lista {
  display: flex;
  padding: 2rem 0rem;
}

.menu-lista a {
  font-family: monospace;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 2rem;
}

@media (max-width: 800px) {
  .header {
    grid-column: 1/5;
    margin: 0rem;
  }

  .menu-lista {
    justify-content: center;
  }
}
