.header {
  grid-column: 3/5;
  background: #FFBB55;
  margin-top: 2rem;
  padding: 2rem;
}

.menu-lista {
  display: flex;
}

.menu-lista a {
  font-family: monospace;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 2rem;
}

[data-dropdown]:hover .dropdown-menu{
  display: block;
}

.dropdown-menu {
  display: none;
  background: #EE5544;
  padding: 1rem 0rem;
  border: solid #222222 0.2rem;
  position: absolute;
  z-index: 3;
}

.dropdown-menu li {
  font-family: monospace;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #222222;
  padding: 1rem 2rem;
  cursor: pointer;
}

[data-menu='botao'] {
  display: none;
}

.dropdown-menu li:hover {
  color: #ffffff;
}

@media (max-width: 800px) {
  .header {
    grid-column: 1/5;
    margin: 0rem;
  }

  .menu-lista {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  

  .menu-lista {
    display: none;
    background-color: #FFBB55;
    box-shadow: 0.2rem 0.2rem 0.2rem 0 rgba(0,0,0,0.2);
    position: absolute;
    left: 0rem;
    top: 0rem;
    padding: 8rem 0rem 2rem 0rem;
    gap: 2rem;
    animation: show-right .3s forwards;
  }

  .menu-lista.ativo {
    display: grid;
  }

  .dropdown-menu {
    display: block;
    position: static;
    border: none;
    margin-top: 1rem;
  }
 
  [data-menu='botao'] {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background: #222222;
    color: #ffffff;
    font-family: monospace;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    position: relative;
    cursor: pointer;
    z-index: 1;
  }

  [data-menu='botao']::before {
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 0.2rem;
    background: #ffffff;
    box-shadow: 0 0.4rem white, 0 -0.4rem white;
  }
}
