.numeros-container {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.numeros-animais h3 {
  font-family: 'Playfair Display SC', georgia;
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.numeros-animais span {
  font-family: monospace;
  font-size: 2.8rem;
  font-weight: bold;
  color: #E54;;
}

@media (max-width: 800px) {
  .numeros-container {
    grid-column: 1;
  }

  .numeros-animais h3 {
    font-size: 2.8rem;
  }

  .numeros-animais span {
    font-size: 2.4rem;
  }
}


@media (max-width:600px) {
  
}