.slide-container {
  margin: 6rem 0 0 0;
  grid-column: 1/-1;
  overflow: hidden;
}

.slide {
  display: flex;
  gap: 2rem;
  transform: translate3d(0, 0, 0);
}

.slide li {
  width: 80vw;
  max-width: 80rem;
  flex-shrink: 0;
}

