.slide-container {
  margin: 6rem 0 0 0;
  grid-column: 1/-1;
  overflow: hidden;
}

.slide {
  display: flex;
  gap: 2rem;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  width: 80vw;
  max-width: 60rem;
  flex-shrink: 0;
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
  border-radius: 0.5rem;
  overflow: hidden;
}

.slide li.ativo {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: block;
  grid-column: 2/4;
  margin-top: 5rem;
  background-color: red;
}

@media (max-width: 800px) {
  .slide-container {
    grid-template-columns: 1fr;
    grid-column: 1/4;
  }
}
