@import 'geral.css';
@import 'header.css';
@import 'modal.css';
@import 'animais.css';
@import 'faq.css';
@import 'slide.css';
@import 'numeros.css';
@import 'contato.css';
@import 'footer.css';
@import 'animation.css';
@import 'tooltip.css';
